.container {
  @include container();
}

//#2df7dd

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  height: 100vh;
}

.quiz {
  position: relative;
  padding: 50px;
  width: 700px;
  max-width: 90vw;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .1);
  overflow: hidden;

  .title {
    margin-bottom: 20px;
    font-size: 22px;
    color: #222225;
    text-align: center;
  }

  .summary {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #222225;
    text-align: center;
  }

  .result {
    font-size: 20px;
    font-weight: 700;
    color: #222225;
    text-align: center;
  }
}

.quiz-list {
  padding: 0;
  list-style-type: none;

  li {
    font-size: 18px;
    color: #222225;
  }

  label {
    display: block;
    padding: 20px 10px;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

    input[type="radio"] {
      margin-right: 10px;
    }

    &:hover {
      background-color: rgba(45,247,221,.2);
      border-radius: 10px;
    }
  }
}

.quiz-submit {
  display: block;
  align-items: center;
  margin: 50px auto 0 auto;
  padding: 15px 35px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #667eea;
  background: linear-gradient(90deg, rgba(156,108,255,1) 20%, rgba(45,247,221,1) 100%);
  opacity: .5;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.2s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &:hover {
    opacity: 1;
  }

  &:focus {
    opacity: 1;
    outline: none;
  }
}

